@charset "UTF 8";

body{
    background-color: rgb(125, 125, 125);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1{
    color: aquamarine;
    background-color: rgb(0, 0, 0);
}

h2{
    color: rgb(177, 52, 38);
}

p{
    text-align: justify;
}