@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3,5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal {
    background-color:white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51,);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(55, 53, 53, 0.792);

}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.254);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image:url("../imagens/ladybug-8064737_1280.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}

section#img02 {
    background-image: url(https://g3i5r4x7.rocketcdn.me/wp-content/uploads/2019/03/escrita.jpg);
    background-size: cover;
    
}

footer{
background-color: black;
color: white;
padding: 10px;
text-align: center;
}